.App {
  text-align: center;
}
.box {
  /* border : 2px solid black; */
  min-height: 70vh;
  text-align: center;
  -webkit-box-shadow: 3px 2px 12px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 12px -4px rgba(0,0,0,0.75);
box-shadow: 3px 2px 12px -4px rgba(0,0,0,0.75);
  /* min-height: 50%; */
  /* display: flex; */
  /* align-items: center; */
}